@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: url(../img/page-1.png)no-repeat;
    background-size: 100% 90%;
    position: relative;
}

.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    z-index: 2;
    width: calc(100% - 100px);
    padding: 0 50px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 51px 15px 51px 120px;
}

.header ul li {
    display: flex;
    justify-content: space-around;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
    padding-right: 21px;
    font-size: 13px;
}


.header img {
    width: 190px;
    height: 78px;
}

.box-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    width: 60%;
}

.box-center h1 {
    font-size: 73px;
    line-height: 92px;
    padding: 5px 0;
}

.box-center p {
    font-size: 30px;
    line-height: 30px;
    padding: 10px 0;
}

.button {
    margin-top: 20px;
    padding: 15px 70px;
    border: none;
    border-radius: 25px;
    background-color: #2091f9;
    color: #fff;
    font-size: 17px;

}

/* section */

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    text-align: center;
    padding-bottom: 20px;
}

.section .title h2 {
    font-size: 30px;
    margin-top: 1rem;
    color: #252b42;
    font-weight: 400;
}

.section .title p {
    width: 350px;
    padding-top: 10px;
    font-size: 18px;
    color: #374754;
}

.grid-items {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
}

.grid-items .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}


.grid-items .grid-item img {
    width: 46px;
    height: 46px;
}

.grid-items .grid-item h5 {
    padding: 15px 0;
    font-size: 17px;
    font-weight: bold;
    color: #252b42;
}

.grid-items .grid-item p {
    font-size: 14px;
    color: #374754;
}

.video {
    padding: 20px 0;
}

/* fast */

.fast {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.fast img {
    width: 500px;
    height: 300px;
    margin: 18px;
}

.fast .esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.esquerdo h2 {
    font-size: 40px;
    color: #252b42;
    font-weight: 400;
}

.esquerdo p {
    font-size: 17px;
    color: #374754;
}

.esquerdo button {
    width: 50%;
}

/* contato */

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato img {
    width: 600px;
    height: 400px;
}

.contato .direito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
    color: #252b42;
}

.contato .direito h3{
    margin-bottom: 10px;
}

.contato .direito .email {
    width: 100%;
    margin-top: 10px;
}

.contato .direito .email h6 {
    color: #374754;
    margin-bottom: 10px;
}

.contato .direito .email input{
    background-color: rgba(100, 98, 98, 0.233);
    border: none;
    padding: 20px 20px;
    border-radius: 25px;
}

.contato .direito .email button {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background-color: #2091f9;
    color: #fff;
    font-size: 17px;
}

/* partners */
.title-partner {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    text-align: center;
    padding-bottom: 20px;
    margin: 80px 0 20px;
}

.section .title-partner h2 {
    font-size: 30px;
    color: #252b42;
    font-weight: 400;
}

.section .title-partner p {
    width: 350px;
    padding-top: 10px;
    font-size: 18px;
    color: #374754;
}


.grid-partners {
    display: grid;
    grid-template-columns: 450px 450px;
    margin: 10px 0;
}

.grid-partners .grid-partner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #f2f2f2;
}

.grid-partners .grid-partner h4 {
    padding: 5px 0;
}

.grid-partners .grid-partner img {
    padding-bottom: 7px;
}

.botao-partner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* testimonials */
.espaco {
    margin-top: 50px;
    height: 50px;
}

.testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonials .img {
    padding: 80px 0 50px;
}

.testimonials p {
    color: #374754;
    text-align: center;
    width: 80%;
    padding-bottom: 60px;
}

.testimonials .designer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials .designer .spans-grid {
    display: flex;
    flex-direction: column;
}

.botao-testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}
/* pricing */

.pricing {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #252b42;
    color: #fff;
}

.pricing .title-pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    text-align: center;
    margin: 1rem 0 60px;
    color: #fff;
    height: 50px;
}

.title-pricing h2 {
    font-size: 30px;
    font-weight: 400;
}

.pricing .title-pricing p {
    padding-top: 10px;
    width: 350px;
}

/* cards */

.cards-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.card-item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 35px;
    border-radius: 20px;
    background-color: #fff;
    flex-direction: column;
    color: #252b42;
    margin: 5px 10px;
}

.card-item:nth-child(2) {
    padding: 35px 80px;
    background-color: #2091f9;
    color: #fff;
}

.card-item:nth-child(2) button {
    background-color: #fff;
    color: #2091f9;
}

.card-item h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-item p {
    width: 200px;
    margin-bottom: 10px;

}

.card-item img {
    margin: 10px 0 20px;
}

.card-item span {
    margin: 10px 0;
}

/* contact */

.center-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-contact .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f2f2f2;
    width: 50%;
    height: 95%;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #0000001c;
    margin-bottom: 1.5rem;
}

.center-contact .map {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.center-contact .map .locais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    margin-top: 1rem;
}

.center-contact .map .locais .local {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 20px;
}

.center-contact .map .locais .local img {
    width: 17px;
    height: 17px;
}

.center-contact .map .locais .local p {
    padding: 5px 7px 25px 25px;
    text-align: center;
    font-size: 13px;
    color: #374754;
}

.center-contact .form h3 {
    margin-top: 1rem;
}

.form input {
    background-color: rgba(146, 146, 146, 0.233);
    border: none;
    padding: 14px 20px;
    margin: 1rem 1rem 1.5rem;
    border-radius: 25px;
    width: 70%;
}

.form input[name = text]{
    height: 150px;
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 15px 25px 40px;
}

.map ul li {
    display: flex;
    justify-content: space-around;
}

.map ul li a {
    color: #2091f9;
    text-decoration: none;
    padding-right: 21px;
    font-size: 13px;
}

/* footer */

.footer {
    height: 60vh;
    background-color: #252b42;
    color: #fff;
    padding: 80px 0;
}

.footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.footer-menu {
    list-style: none;
}

.footer-menu p {
    font-weight: bold;
}

.footer-menu .footer-menu-item {
    margin: 25px 0;
    font-weight: 100;
    font-size: 13px;
}

.socials {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socials-footer {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    padding: 0 10px 20px;
}

.socials-footer .local {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.socials-footer .local p {
    font-size: 13px;
    padding-left: 10px;
}

.socials ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials ul li {
    display: flex;
    justify-content: space-around;
}

.socials ul li a {
    color: #fff;
    text-decoration: none;
    padding-right: 21px;
    font-size: 13px;
}

#menu {
    display: none;
}

@media (max-width: 576px) {
    #menu {
        display: flex;
    }
    #menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    button i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2091f9;
        font-size: 1.5rem;
    }
    .header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        flex-direction: row-reverse;
    }
    .header ul {
        position: absolute;
        top: 100px;
        left: 30px;
        padding: 0;
    }
    .header .hide{
        display: none;
    }
    .header ul li a {
        color: #fff;
        text-decoration: none;
        padding-right: 25px;
        font-size: 15px;
    }
    .home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        background: url(../img/page-1.png) center no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    .home .box-center {
        width: auto;
    }
    .home h1{
        font-weight: 300;
        font-size: 54px;
        line-height: 58px;
    }
    .home p{
        font-size: 20px;
        font-weight: 100;
    }
    .section {
        height: auto;
    }
    .title {
        width: 285px;
        height: 140px;
    }
    .title h2 {
        font-size: 40px;
    }
    .grid-items{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .grid-item {
        width: 255px;
    }
    .video iframe {
        width: 340px;
        height: 210px;
    }
    .fast{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fast .esquerdo{
        text-align: center;
        align-items: center;
    }
    .fast h2{
        font-size: 45px;
        font-weight: 300;
    }
    .fast img {
        width: 314px;
        height: 210px;
        margin: 1rem 0;
    }
    .esquerdo button {
        padding: 15px 17px;
    }
    .contato {
        flex-direction: column;
    }
    .contato img {
        width: 330px;
        height: 244px;
    }
    .contato .direito {
        align-items: center;
        margin-left: 0;
    }
    .contato .direito .email {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contato .direito .email button {
        margin-top: 10px;
    }
    .grid-partners {
        display: flex;
        flex-direction: column;
    }
    .grid-partner:nth-child(4),
    .grid-partner:nth-child(5){
        display: none;
    }
    .grid-partner:nth-child(2){
        margin: 30px 0;
    }
    .testimonials .designer {
        margin-bottom: 2rem;
    }
    .card-item:nth-child(2) {
        margin: 50px 0;
        padding: 15px 35px;
    }
    .center-contact {
        flex-direction: column-reverse;
    }
    .center-contact .map {
        flex-direction: column-reverse;
    }
    .center-contact .map .locais {
        display: flex;
        flex-direction: column;
        grid-column-gap: 0;

    }
    .center-contact .map .locais .local{
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
    }
    .center-contact .map .locais .local p {
        text-align: start;
        padding: 15px 0 15px 11px;
    }
    .center-contact .map .locais .local img {
        width: auto;
        height: auto;
    }
    .map ul {
        justify-content: center;
    }
    .mapa {
        display: none;
    }
    .center-contact .form {
        width: 90%;
    }
    .center-contact .form .button {
        margin-bottom: 0.8rem;
    }
    .footer {
        height: auto;
    }
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-content .footer-menu {
        margin: 25px 0;
        text-align: center;
    }
    .footer-content .footer-menu:nth-child(1){
        margin: 15px 0;
    }
    .socials-footer .local p {
        font-weight: 100;
        font-size: 11px;
    }
    .socials-footer {
        padding: 0 0 20px;
    }
    .socials ul li a {
        padding: 0;
    }
    .socials ul li:nth-child(2) {
        padding: 0 25px;
    }
    #menu.active .drop-items {
        background-color: #252b42;
        display: flex;
    }
    #menu.active .drop-items ul {
        display: flex;
    }
}